<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/proveedores/edit/{{proveedor.id}}" method="POST">
                        <div class="form-group">
                            Nombre
                            <input type="text" value="{{proveedor.nombre}}" class="form-control" name="nombre" autofocus>
                        </div>
                        <div class="form-group">
                            Apellido
                            <input type="text" value="{{proveedor.apellido}}" class="form-control" name="apellido">
                        </div>
                        <div class="form-group">
                            Empresa
                            <input type="text" value="{{proveedor.empresa}}" class="form-control" name="empresa">
                        </div>
                        <div class="form-group">
                            Telefono 1
                            <input type="number" value="{{proveedor.telefono}}" class="form-control" name="telefono">
                        </div>
                        <div class="form-group">
                            Telefono 2
                            <input type="number" value="{{proveedor.telefono2}}" class="form-control" name="telefono2">
                        </div>
                        <div class="form-group">
                            Email
                            <input type="text" value="{{proveedor.email}}" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            Descripcion
                            <textarea name="descripcion" id="" rows="2" class="form-control" placeholder="Descripcion">{{proveedores.descripcion}}</textarea>
                        </div>
                        <div class="form-group">
                            Deuda al proveedor
                            <input type="number" value="{{proveedor.deuda}}" class="form-control" name="deuda">
                        </div>
                        <div class="form-group">
                            Deuda del proveedor
                            <input type="number" value="{{proveedor.activo}}" class="form-control" name="activo">
                        </div>
                        <div class="form-group">
                            Compras totales
                            <input type="number" value="{{proveedor.comprasTotales}}" class="form-control" name="comprasTotales">
                        </div>
                        <div class="form-group">
                            Monto total de las compras al proveedor
                            <input type="number" value="{{proveedores.pesosTotales}}" class="form-control" name="pesosTotales">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>