<body>
      <div class="container">
      <h1 class="text-center p-4">Tabla de stock</h1>
        <div class="container text-center">
            <a href="/mistock/add" class="btn btn-success btn-lg text-dark m-2" id="botonEditar">Agregar nuevo stock sin tener que registrar nueva compra <i class="fas fa-plus"></i></i></a>
          <div class="table-responsive" id="cont-tabla">
            <table class="table mx-auto table-sm" id="tablaArticulos" 
                data-show-print="false" 
                data-show-columns="true"
                data-show-toggle="true"
                data-search="true"
                data-pagination="true" 
                data-page-size="10"
                data-resizable="true">
                <thead>
                    <tr>
                        <th data-field="id">Id</th>
                        <th data-field="producto">Producto</th>
                        <th data-field="descripcion">Descripcion</th>
                        <th data-field="categoria">Categoria</th>
                        <th data-field="precioCompra">P. Compra</th>
                        <th data-field="precioVenta">P. Venta</th>
                        <th data-field="cantidad">Stock</th>
                        <th data-field="cantidadVendidos">Cant. Vendidos</th>
                        <th data-field="gananciaBruta">Ganancia Bruta</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody id="mitabla">
                    {{#each articulos}}
                        <tr>
                          {{#ifMayor cantidad 5}}
                            <td style="background-color: #ff7676;">{{id}}</td>
                            <td style="background-color: #ff7676;">{{producto}}</td>
                            <td style="background-color: #ff7676;">{{descripcion}}</td>
                            <td style="background-color: #ff7676;">{{categoria}}</td>
                            <td style="background-color: #ff7676;">$ {{precioCompra}}</td>
                            <td style="background-color: #ff7676;">$ {{precioVenta}}</td>
                            <td style="background-color: #ff7676;">{{cantidad}}</td>
                            <td style="background-color: #ff7676;">{{cantidadVendidos}}</td>
                            <td style="background-color: #ff7676;">$ {{gananciaBruta}}</td>
                            <td style="background-color: #ff7676;">
                              <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalBorrar{{id}}">
                                <i class="fas fa-trash-alt"></i>
                              </button>
                              <!-- Modal -->
                              <div class="modal fade" id="modalBorrar{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle">Seguro quiere eliminar el articulo N {{id}}?</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      El articulo se borrara de la base de datos y no podra recuperarse. Pero puede volver a crearlo.
                                    </div>
                                    <div class="modal-footer">
                                      <a href="/mistock/delete/{{id}}" class="btn btn-danger btn-sm" id="botonEliminar">Eliminar</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                <a href="/mistock/edit/{{id}}" class="btn btn-light btn-sm" id="botonEditar"><i class="fas fa-edit"></i></a>
                              {{#if cantidad}}
                                <a href="/mistock/vender/{{id}}" class="btn btn-success btn-sm" id="botonVender">Vender</a>
                                <a href="/mistock/masuno/{{id}}" class="btn btn-warning btn-sm" id="botonMasUno">Vender Uno</a>
                              {{else}}
                                <a href="/mistock/vender/{{id}}" class="btn btn-success btn-sm" id="botonVender" hidden>Vender</a>
                                <a href="/mistock/masuno/{{id}}" class="btn btn-warning btn-sm" id="botonMasUno" hidden>Vender Uno</a>
                              {{/if}}
                            </td>
                            {{else}}
                            <td>{{id}}</td>
                            <td>{{producto}}</td>
                            <td>{{descripcion}}</td>
                            <td>{{categoria}}</td>
                            <td>$ {{precioCompra}}</td>
                            <td>$ {{precioVenta}}</td>
                            <td>{{cantidad}}</td>
                            <td>{{cantidadVendidos}}</td>
                            <td>$ {{gananciaBruta}}</td>
                            <td>
                              <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalBorrar{{id}}">
                                <i class="fas fa-trash-alt"></i>
                              </button>
                              <!-- Modal -->
                              <div class="modal fade" id="modalBorrar{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle">Seguro quiere eliminar el articulo N {{id}}?</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      El articulo se borrara de la base de datos y no podra recuperarse. Pero puede volver a crearlo.
                                    </div>
                                    <div class="modal-footer">
                                      <a href="/mistock/delete/{{id}}" class="btn btn-danger btn-sm" id="botonEliminar">Eliminar</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                <a href="/mistock/edit/{{id}}" class="btn btn-light btn-sm" id="botonEditar"><i class="fas fa-edit"></i></a>
                                <a href="/mistock/vender/{{id}}" class="btn btn-success btn-sm" id="botonVender">Vender</a>
                                <a href="/mistock/masuno/{{id}}" class="btn btn-warning btn-sm" id="botonMasUno">Vender Uno</a>
                            </td>
                            {{/ifMayor}}
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
      </div>
</body>
<script>
  var $table = $('#tablaArticulos')

  $(function() {
    $table.bootstrapTable()
  })
</script> 