<body>
      <div class="container">
      <h1 class="text-center p-4">Tabla de Ventas</h1>
        <div class="container text-center">
            <!-- <a href="/ventas/add" class="btn btn-success btn-lg text-dark m-2" id="botonEditar">Agregar nueva venta NO sincronizada con "Mi Stock" <i class="fas fa-plus"></i></i></a> -->
          <div class="card border-dark mb-3" style="background-color: #b9b8ae;">
              <div class="card-body text-dark">
                <div class="table-responsive" id="cont-tabla">
                  <table class="table mx-auto table-sm" id="tablaArticulos" 
                      data-show-print="false" 
                      data-show-columns="true"
                      data-show-toggle="true"
                      data-search="true"
                      data-pagination="true" 
                      data-page-size="10"
                      data-resizable="true">
                      <thead>
                          <tr>
                              <th data-field="id">Id</th>
                              <th data-field="producto">Producto</th>
                              <th data-field="descripcion">Descripcion</th>
                              <th data-field="cliente">Cliente</th>
                              <th data-field="cantidadVendidos">Cant. Vendidos</th>
                              <th data-field="gananciaBruta">G. Bruta</th>
                              <th data-field="gananciaNeta">G. Neta</th>
                              <th data-field="montoVenta">Monto Venta</th>
                              <th data-field="metodo">Metodo</th>
                              <th data-field="createdAt">Cuando?</th>
                              <th>Accion</th>
                          </tr>
                      </thead>
                      <tbody id="mitabla">
                          {{#each ventas}}
                              <tr>
                                  <td>{{id}}</td>
                                  <td>{{producto}}</td>
                                  <td>{{descripcion}}</td>
                                  <td>{{cliente}}</td>
                                  <td>{{cantidadVendidos}}</td>
                                  <td>$ {{gananciaBruta}}</td>
                                  <td>$ {{gananciaNeta}}</td>
                                  <td>$ {{montoVenta}}</td>
                                  {{#ifMetodo metodo 'Tarjeta'}}
                                  <td style="background-color: #5a5991;">{{metodo}}</td>
                                  {{else}}
                                  <td style="background-color: #b4b367;">{{metodo}}</td>
                                  {{/ifMetodo}}
                                  <td>{{momentAgo created_at}}</td>
                                  <td>
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalBorrar{{id}}">
                                      <i class="fas fa-trash-alt"></i>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="modalBorrar{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Seguro quiere eliminar la venta N {{id}}?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            La venta se borrara de la base de datos y no podra recuperarse. Pero puede volver a crear una nueva venta.
                                          </div>
                                          <div class="modal-footer">
                                            <a href="/ventas/delete/{{id}}" class="btn btn-danger btn-sm" id="botonEliminar">Eliminar</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                      <a href="/ventas/edit/{{id}}" class="btn btn-light btn-sm" id="botonEditar"><i class="fas fa-edit"></i></a>
                                  </td>
                              </tr>
                          {{/each}}
                      </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
</body>
<script src="/js/traduccionEs.js"></script>
<script>
  var $table = $('#tablaArticulos')

  $(function() {
    $table.bootstrapTable({
      locate: 'es'
    });
  });
</script>