{{#if compras}}
<div class="grid-container4">
  <div class="stockInfoUnoCompras" style="padding-top: 20px;">
      <div class="card text-white bg-dark w-100 h-100">
        <div class="card-header">Tabla de Stock</div>
            <div class="card-body">
                <h5 class="card-title">Informacion!</h5>
                <p class="card-text">En esta tabla usted encontrara todos las compras que realice. Luego de la tabla encontrara informacion detallada.</p>
            </div>
    </div>
  </div>
  <div class="sotckInfoDosCompras" style="padding-top: 20px;">
      <div class="card text-dark bg-light w-100 h-100">
        <div class="card-header">Cartera</div>
            <div class="card-body">
                <h5 class="card-title">Informacion actual de la cartera:</h5>
                <h4 class="card-text">Saldo en efectivo: ${{cartera.dineroEfectivo}}</h4>
                <h4 class="card-text">Saldo en el banco: ${{cartera.dineroBanco}}</h4>
            </div>
    </div>
  </div>
  <div class="stockInfoTresCompras" style="margin-top: 10px;">
    <div class="card border-dark mb-3" style="background-color: #b9b8ae;">
      <div class="card-body text-dark">
          <div class="table-responsive" id="cont-tabla">
            <table class="table mx-auto table-sm" id="tablaArticulos" 
                data-show-print="false" 
                data-show-columns="true"
                data-show-toggle="true"
                data-search="true"
                data-pagination="true" 
                data-page-size="10"
                data-resizable="true"> 
                <thead>
                    <tr>
                        <th data-field="id">Id</th>
                        <th data-field="producto">Producto</th>
                        <th data-field="descripcion">Descripcion</th>
                        <th data-field="categoria">Categoria</th>
                        <th data-field="precioCosto">P. Costo</th>
                        <th data-field="precioVenta">P. Venta</th>
                        <th data-field="cantidadIngresados">Ingresados</th>
                        <th data-field="gastosEnvio">Gastos Envio</th>
                        <th data-field="gastosVarios">Gastos Varios</th>
                        <th data-field="proveedor">Proveedor</th>
                        <th data-field="fecha">Fecha</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody id="mitabla">
                    <tr>
                      {{#each compras}}
                        <td>{{id}}</td>
                        <td>{{producto}}</td>
                        <td>{{descripcion}}</td>
                        <td>{{categoria}}</td>
                        <td>$ {{precioCosto}}</td>
                        <td>$ {{precioVenta}}</td>
                        <td>{{cantidadIngresados}}</td>
                        <td>$ {{gastosEnvio}}</td>
                        <td>$ {{gastosVarios}}</td>
                        <td>{{proveedor}}</td>
                        <td>{{momentAgo created_at}}</td>
                        <td>
                          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalBorrar{{id}}">
                            <i class="fas fa-trash-alt"></i>
                          </button>
                          <!-- Modal -->
                          <div class="modal fade" id="modalBorrar{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Seguro quiere eliminar la compra N {{id}}?</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  El registro de compra se borrara de la base de datos y no podra recuperarse.
                                </div>
                                <div class="modal-footer">
                                  <a href="/compras/delete/{{id}}" class="btn btn-danger btn-sm" id="botonEliminar">Eliminar</a>
                                </div>
                              </div>
                            </div>
                          </div>
                            <a href="/compras/edit/{{id}}" class="btn btn-light btn-sm" id="botonEditar"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                  {{/each}}
                </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>
{{else}}
    <div class="col-md-4 mx-auto p-5">
        <h1 class="text-center">Tabla Compras</h1>
        <div class="card card-body text-center">
            <p>No tiene registrada ninguna compra</p>
        </div>
    </div>
{{/if}}
<script src="/js/traduccionEs.js"></script>
<script>
var $table = $('#tablaArticulos')

$(function() {
  $table.bootstrapTable({
    locate: 'es'
  });
})
$('#popover-dismiss').popover({
  trigger: 'hover'
})
</script> 