<body>
    {{#if compras}}
      <div class="container">
      <h1 class="text-center p-4">Tabla de compras</h1>
        <div class="container text-center">
          <a href="/compras/deleteall" class="btn btn-success btn-lg text-dark m-2" id="botonEditar">Eliminar TODO <i class="fas fa-plus"></i></i></a>
          <a href="/compras/add" class="btn btn-success btn-lg text-dark m-2" id="botonEditar">Agregar nueva compra <i class="fas fa-plus"></i></i></a>
          <div class="table-responsive" id="cont-tabla">
            <table class="table mx-auto table-sm" id="tablaArticulos" 
                data-show-print="false" 
                data-show-columns="true"
                data-show-toggle="true"
                data-search="true"
                data-pagination="true" 
                data-page-size="10"
                data-resizable="true">
                <thead>
                    <tr>
                        <th data-field="id">Id</th>
                        <th data-field="producto">Producto</th>
                        <th data-field="descripcion">Descripcion</th>
                        <th data-field="categoria">Categoria</th>
                        <th data-field="precioCosto">P. Costo</th>
                        <th data-field="precioVenta">P. Venta</th>
                        <th data-field="cantidadIngresados">Ingresados</th>
                        <th data-field="gastosEnvio">Gastos Envio</th>
                        <th data-field="gastosVarios">Gastos Varios</th>
                        <th data-field="cantidadVendidos">Proveedor</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody id="mitabla">
                        <tr>
                          {{#each compras}}
                            <td>{{id}}</td>
                            <td>{{producto}}</td>
                            <td>{{descripcion}}</td>
                            <td>{{categoria}}</td>
                            <td>$ {{precioCosto}}</td>
                            <td>$ {{precioVenta}}</td>
                            <td>{{cantidadIngresados}}</td>
                            <td>$ {{gastosEnvio}}</td>
                            <td>$ {{gastosVarios}}</td>
                            <td>{{proveedor}}</td>
                            <td>
                              <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalBorrar{{id}}">
                                <i class="fas fa-trash-alt"></i>
                              </button>
                              <!-- Modal -->
                              <div class="modal fade" id="modalBorrar{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle">Seguro quiere eliminar el articulo N {{id}}?</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      El articulo se borrara de la base de datos y no podra recuperarse. Pero puede volver a crearlo.
                                    </div>
                                    <div class="modal-footer">
                                      <a href="/compras/delete/{{id}}" class="btn btn-danger btn-sm" id="botonEliminar">Eliminar</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                <a href="/compras/edit/{{id}}" class="btn btn-light btn-sm" id="botonEditar"><i class="fas fa-edit"></i></a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{else}}
                <div class="col-md-4 mx-auto p-5">
                    <h1 class="text-center">Tabla Compras</h1>
                    <div class="card card-body text-center">
                        <p>No tiene agregada ninguna compra</p>
                        <a class="btn btn-success" href="/compras/add">Agregar nueva compra</a>
                    </div>
            </div>
        {{/if}}
      </div>
</body>
<script>
  var $table = $('#tablaArticulos')

  $(function() {
    $table.bootstrapTable()
  })
</script> 