<div class="container mx-auto">
</div>
<div class="grid-container2">
  <div class="informacionHeader">
      <div class="welcome">
        <div class="row">
          <div class="col" style="padding-top: 20px;">
              <div class="bd-callout bd-callout-info h-100 text-light" style="background-color: #212121;">
                <h5>Bienvenido {{usuario.fullname}}!</h5>
                <p>Este es tu panel de control en donde enncontraras informacion de manera rapida!</p>
                <p>Su direccion ip: {{ip}}</p>
              </div>
          </div>
          <div class="col" style="padding-top: 20px;">
            <div class="bd-callout bd-callout-warning h-100 text-light" style="background-color: #212121;">
              <div class="row">
                <div class="col">
                  <h5>Estado del sistema</h5>
                  <div class="demos">
                    <div class="demo-up">
                      <span class="server-status" type="up"></span>
                      <span>Backend: ON</span>
                    </div>
                  </div>
                  <div class="demos">
                    <div class="demo-up">
                      <span class="server-status" type="up"></span>
                      <span>Base de datos: ON</span>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <h5 id="usoCpu">{{data.usoCpu}}</h5>
                  <h5 id="usoRam">{{data.usoRam}}</h5>
                  <h5 id="uptime">{{data.uptime}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="infoUno">
      <div class="card text-white bg-danger h-100">
        <div class="card-header">Ultimas 10 Ventas</div>
            <div class="card-body">
              {{#each ultimasVentas}}
                {{#ifMetodo metodo 'Tarjeta'}}
                <span class="d-block m-2 bg-dark text-white text-center">{{producto}} - Cantidad: {{cantidadVendidos}} - Monto: ${{montoVenta}}</span>
                {{else}}
                <span class="d-block m-2 bg-warning text-dark text-center">{{producto}} - Cantidad: {{cantidadVendidos}} - Monto: ${{montoVenta}}</span>
                {{/ifMetodo}}
              {{/each}}
            </div>
      </div>
  </div>
  <div class="infoDos">
      <div class="card text-dark bg-light mb-3 h-100">
        <div class="card-header">Estadisticas de Caja</div>
            <div id="chartCaja" class="card-body">
                
        </div>
    </div>
  </div>
  <div class="infoTres">
    <div style="background-color: #C5C6C7;" class="card text-dark mb-3 h-100">
        <div class="card-header">Los 10 articulos mas vendidos</div>
            <div id="chart" class="card-body">
                
        </div>
    </div>
  </div>
  <div class="infoCuatro">
    <div class="card text-dark bg-light mb-3">
        <div class="card text-white bg-dark h-100">
        <div class="card-header">Datos de cartera</div>
            <div class="card-body">
                <h5 class="card-title">Ganancias Brutas: $ {{gananciasBrutas.gananciaBrutaTotal}}</h5>
                <h5 class="card-title">Ganancias Netas: $ {{gananciasNetas.gananciaNetaTotal}}</h5>
            </div>
    </div>
    </div>
  </div>
  <div class="infoCinco">
    <div class="card text-white bg-danger mb-3">
        <div class="card-header">Gastos</div>
            <div class="card-body">
                <h5 class="card-title">Gastos Compras: $ {{totalCompraProductos}}</h5>
                <h5 class="card-title">Gastos Envios: $ {{gastosEnvio}}</h5>
                <h5 class="card-title">Gastos Varios: $ {{gastosVarios}}</h5>
        </div>
    </div>
  </div>
  <div class="infoSeis">
    <div class="card text-dark bg-light mb-3">
        <div class="card-header">Estadisticas por mes</div>
            <div id="chartVentas" class="card-body">
                
        </div>
    </div>
  </div>
  <div class="infoSiete"></div>
  <div class="infoOcho"></div>
</div>
<script>
//let hola = ['{{articulos.0.producto}}'];
//hola.forEach(e => console.log(e));
var options = {
  series: [{
  data: ['{{articulosOrdenados.0.cantidadVendidos}}', '{{articulosOrdenados.1.cantidadVendidos}}', '{{articulosOrdenados.2.cantidadVendidos}}', '{{articulosOrdenados.2.cantidadVendidos}}']
  }],
    chart: {
    type: 'bar',
    height: 350
  },
  plotOptions: {
    bar: {
      borderRadius: 4,
      horizontal: true,
    }
  },
  dataLabels: {
    enabled: false
  },
  xaxis: {
    categories: ['{{articulosOrdenados.0.producto}}', '{{articulosOrdenados.1.producto}}', '{{articulosOrdenados.2.producto}}', '{{articulosOrdenados.3.producto}}']
  },
  title: {
      text: 'Articulos mas vendidos',
      align: 'center',
      floating: true
  },
};
var chart = new ApexCharts(document.querySelector("#chart"), options);
chart.render();
</script>
<script>
var options = {
    series: [{
    name: 'Beneficio neto',
    data: [44, 55, 57, 56, 61, 58, 63, 60, 66]
  }, {
    name: 'Ingresos',
    data: [76, 85, 101, 98, 87, 105, 91, 114, 94]
  }, {
    name: 'Flujo de caja',
    data: [35, 41, 36, 26, 45, 48, 52, 53, 41]
  }],
    chart: {
    type: 'bar',
    height: 350
  },
  plotOptions: {
    bar: {
      horizontal: false,
      columnWidth: '55%',
      endingShape: 'rounded'
    },
  },
  dataLabels: {
    enabled: false
  },
  stroke: {
    show: true,
    width: 2,
    colors: ['transparent']
  },
  xaxis: {
    categories: ['Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct'],
  },
  yaxis: {
    title: {
      text: '$ (miles)'
    }
  },
  fill: {
    opacity: 1
  },
  tooltip: {
    y: {
      formatter: function (val) {
        return "$ " + val + " mil"
      }
    }
  }
};
var chart = new ApexCharts(document.querySelector("#chartVentas"), options);
chart.render();
</script>
<script>
var data = ['{{gananciaNeta}}', '{{ingresoBruto}}', '{{ingresoBruto}}', '{{totalCompraProductos}}', '{{gastosTotales}}']
parseInt(data[0], 10)
var options = {
    series: [ parseInt(data[0], 10), parseInt(data[1], 10), parseInt(data[2], 10), parseInt(data[3], 10), parseInt(data[4], 10)],
    chart: {
    type: 'donut',
  },
  labels: ["Beneficio Neto", "Flujo de Caja", "Ingresos", "Compras", "Gastos"],
  responsive: [{
    breakpoint: 480,
    options: {
      chart: {
        width: 200
      },
      legend: {
        position: 'bottom'
      }
    }
  }]
};
var chart = new ApexCharts(document.querySelector("#chartCaja"), options);
chart.render();
</script>