<form action="/mistock/vender/{{id}}" method="POST">
    <div class="form-group">
        Articulo ID: 
        <input type="text" onKeyDown="return false;" value="{{id}}" class="form-control" name="idArticulo">
    </div>
    <div class="form-group">
        Producto:
        <input type="text" onKeyDown="return false" value="{{producto}}" class="form-control" name="producto" autofocus>
    </div>
    <div class="form-group">
        Descripcion:
        <textarea name="descripcion" id="" rows="2" class="form-control" placeholder="Descripcion">{{articulo.descripcion}}</textarea>
    </div>
    <div class="form-group">
        Cliente:
        <input type="text" class="form-control" name="cliente" placeholder="Cliente">
    </div>
    <div class="form-group">
        Cantidad a vender:
        <input type="number" id="cantidad{{id}}" value="totalbread1" name="cantidadVendidos" class="form-control">
    </div>
    <div class="form-group">
        Precio Venta:
        <input type="text" id="precioVenta{{id}}" onKeyDown="return false;" value="{{precioVenta}}" name="gananciaBruta" class="form-control">
        Ganancia Bruta: $ <span id="ganancia_bruta{{id}}"></span>
    </div>
    <div class="form-group">
        Precio Compra:
        <input type="text" id="precioCompra{{id}}" onKeyDown="return false;" value="{{precioCompra}}" name="gananciaNeta" class="form-control">
        Ganancia Neta: $ <span id="ganancia_neta{{id}}"></span>
    </div>
    <div class="form-group">
        Monto total de la venta: $ <span id="monto_venta{{id}}"></span>
    </div>
    <div class="form-group">
        <button class="btn btn-success">
            Guardar
        </button>
        <a href="/mistock" class="btn btn-dark btn-sm">Cancelar</a>
    </div>
</form>
<script>
$('input').keyup(function(){

    var cantidad = parseFloat($('#cantidad{{id}}').val());
    var precioVenta = parseFloat($('#precioVenta{{id}}').val());
    var precioCompra = parseFloat($('#precioCompra{{id}}').val());
    var montoTotal = parseFloat($('#montoTotal{{id}}').val());

    $('#ganancia_bruta{{id}}').html(cantidad * precioVenta);
    $('#ganancia_neta{{id}}').html((cantidad * precioVenta) - (cantidad * precioCompra));
    $('#monto_venta{{id}}').html((cantidad * precioVenta));

});
</script>