<div class="container text-center mx-auto p-2">
    <h1>Apartado Categorias</h1>
    <button type="button" class="btn btn-success btn-lg text-dark m-3 mx-auto" data-toggle="modal" data-target="#agregarVenta">
      Agregar nueva categoria
    </button>
    <!-- Modal -->
    <div class="modal fade" id="agregarVenta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Con este formulario, usted podra crear nuevas categorias.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{>agregarCategoria}}
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container p-4">
    <div class="row">
        {{#each categoria}}
        <div class="col-md-3 p-2">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title text-uppercase">
                        {{titulo}}
                    </h3>
                    <p class="m-2">
                        {{descripcion}}
                    </p>
                    <p>Creada {{momentAgoHaceTanto created_at}}</p>
                    <a href="/categorias/delete/{{id}}" class="btn btn-danger">Borrar categoria</a>
                    <a href="/categorias/edit/{{id}}" class="btn btn-secondary">Editar</a>
                </div>
            </div>
        </div>
        {{else}}
            <div class="col-md-5 mx-auto">
                <div class="card card-body text-center">
                    <h1>No hay categorias guardadas</h1>
                </div>
            </div>
        {{/each}}
    </div>
</div>